%Automaton connection matrix (Specifies PFSA structure)
#CONNXA
0 1 
0 1 

#PITILDEA
0.75 .25 
.1  .9

#CONNXB
2 3 0 2
3 0 3 1
0 3 2 0
2 1  0 3
#PITILDEB
.4 .4 .1 .1
.2 .6 .1 .3
.6 .1 .2 .1
.4 .1 .1 .4
%Generated data length
#DATA_LENGTH
50000000

#DRAW_GRAPH
1

#GRAPHNAME_PREF
pfsa

%possible values of 
%graphtypes are that of dot (png,ps etc)
#GRAPH_TYPE
png

#MC_PRINT
1

#USE_INVERSE_MACHINE
0

#MC_STRING
1

#RANDOM_PITILDE
0

#OMEGAx
0 0 0

#OMEGA
1 1
#EVALUATION_DEPTH
2
