%config file for graphviz.
%having this file is NOT mandatory
%but allows easy acces to graph attributes

#GRAPH_SIZE
40,25

#DPI
300

#RANKDIR
TD
%other values can be found in the dot manual (LR)

%------------
#NODESTYLE
filled

#NODECOLOR
black

#NODEFONTSIZE
16

#NODE_FONTWEIGHT
bold

#NODE_FILLCOLOR
papayawhip
%mintcream

#NODE_FONTCOLOR
black

#NODE_FONTNAME
Helvetica

%------------

#EDGE_WEIGHT
16

#EDGE_FONTCOLOR
darkslategray

#EDGE_PENWIDTH
1

#EDEGE_FONTWEIGHT
bold

#EDGE_STYLE
solid

#ARROW_SIZE
1

#PENWIDTH
2

#EDGE_COLOR
darkslategray4

#EDGE_FONTNAME
monospace

%--------------
#TAGLINK_COLOR
black

#TAGBORDER_COLOR
black

#TAGFILL_COLOR
whitesmoke

#GRAPH_NAME
PFSA

#GRAPH_TYPE
gif
%ps
% other graph types are ps bmp svg and NO_DOT skips the system command for
% drawing graphs

#DOT_FILE
PFSA

#DOT_PROG
dot
% graphviz implementations also have fdp, sfdp, neato, circo etc
