%config file for graphviz.
%having this file is NOT mandatory
%but allows easy acces to graph attributes

#GRAPH_SIZE
40,25

#DPI
300

#RANKDIR
TD
%other values can be found in the dot manual (LR)



#NODESTYLE
filled

#NODE_FONTCOLOR
black

#NODE_FILLCOLOR
palegreen1
%mintcream

#NODEFONTSIZE
16

#NODE_FONTNAME
Helvetica

#NODE_FONTWEIGHT
bold

#NODECOLOR
darkslategray
%powderblue



#EDGE_WEIGHT
10

#EDGE_FONTCOLOR
lightskyblue1

#EDGE_FONTNAME
Helvetica


#EDEGE_FONTWEIGHT
bold

#EDGE_STYLE
solid

#EDGE_COLOR
whitesmoke
%slateblue1

#EDGE_FONTNAME
monospace




#GRAPH_NAME
PFSA

#GRAPH_TYPE
ps
% other graph types are ps bmp svg and NO_DOT skips the system command for
% drawing graphs

#DOT_FILE
Inferred_mc

#DOT_PROG
dot
% graphviz implementations also have fdp, sfdp, neato, circo etc
