%config file for graphviz.
%having this file is NOT mandatory
%but allows easy acces to graph attributes

#GRAPH_SIZE
25,40

#DPI
100

#RANKDIR
TD
%other values can be found in the dot manual (LR)

%------------
#NODESTYLE
filled

#NODECOLOR
black

#NODEFONTSIZE
12
#NODE_FONTWEIGHT
bold

#NODE_FILLCOLOR
black
%papayawhip
%mintcream

#NODE_FONTCOLOR
palegreen

#NODE_FONTNAME
Helvetica

%------------

#EDGE_WEIGHT
1

#EDGE_FONTCOLOR
dimgray

#EDGE_PENWIDTH
1
%1

#EDEGE_FONTWEIGHT
normal

#EDGE_STYLE
solid

#ARROW_SIZE
1

#EDGE_COLOR
lightskyblue

#EDGE_FONTNAME
Helvetica

%--------------
#BACKGROUND
black

#TAGLINK_COLOR
darkred

#TAGBORDER_COLOR
black

#TAGFILL_COLOR
ghostwhite

#TAGBORDER_COLORS
black

#TAGFILL_COLORS
green


#GRAPH_NAME
PFSA

#GRAPH_TYPE
png
% other graph types are ps bmp svg and NO_DOT skips the system command for
% drawing graphs

#NODESEP
.125

#DOT_FILE
PFSA

#DOT_PROG
dot
% graphviz implementations also have fdp, sfdp, neato, circo etc
