#DATA_TYPE
symbolic
%continuous
%symbolic

#DATA_DIR
across
%up
%across

#PARTITION
0.5

#EPS_MIN_
0.005

#EPS_MAX_
0.1

#EPS_STEP_
0.01

#ANN_TEST_LEN_
1000000

#ANNIHILATION_ERR_THRESHOLD
0.05

#REPORT_FILE_FUTURE
report.txt

#NORM_FILE
norm.txt

%Generated data length
#DATA_LENGTH
5000000

#EVALUATION_DEPTH
3

#OMEGA_VECTOR

#SYM_FRQ_DISPLAY_DEPTH_ 
16

#FUTURE_STEPS
3

#RECENT_PAST
3

#VERBOSE
0

#EXTREMELY_SHORT_
1
%juxtapose all streams in a multistream input
% before computing modeling error
% via annihilation

#DOT_CFG
dotII.cfg
  
%-------------------------
% parameters for computing omega_sync  
#MIN_DEV_SYNC_SEARCH_
0.001
#LOOP_COUNT_SYNC_SEARCH_
1
#SYN_PREF_LENGTH_
4

#COL_PRINT
1

