% MAX DATA LENGTH of test stream
#DATA_LENGTH
15000000

%This is the # of times each m/c is simulated
#NUM_EACH
50

%DATA DIRECTION IN FILEs (row or column)
% values:
%up
%across
#DATA_DIR
up

%Specify if quantization (partitioning) is to be applied
% values:
%symbolic
%continuous
#DATA_TYPE
symbolic

%Specify quantization to be applied (only applies if DATA_TYPE is continuous)
% specifies the break points as a row vector
% thus 0.5 implies all point less equal to 0.5 maps to 0, and greater than 
% 0.5 maps to 1  (binary alphabet)
%
% Similalrly, 0.2 0.3 implies pts <= 0.2 maps to 0, between 0.2 and 0.3 maps to 1, and greater than 0.3 maps to 2 (3 letter alphabet)
#PARTITION
0.5
 

% name of the file which 
% records the distance matrix obtained via smashing
#OUTFILE_MAP
Hx.txt

% name of the file 
% which records the embedding error 
% as a function of dimensions
#OUTFILE_DIM_ERROR
D.txt

% name of the file 
% which records the computed Euclidean embedding (Sippl algorithm)
#OUTFILE_EMBEDDING_COORDINATES
E.txt

%------------------------

% Specify if only the self-annihilation error
% is to be found
% boolean value:
$ 0 or 1
#ONLY_SAE
0

% The input data is assumed to be 
% in a sequence of files
% named as xxx.txt where xxx is a 
% number of constant width (padded with zeros if necessary)
% begining from 1. Thus if the namewidth is 4, then the 
% first file is 0001.txt, the second file is 0002.txt and so on
% BEG specifies the beginning index which the algo starts reading
#BEG
1

% END specifies the index of the last file read
#END
20

% namewidth, padded with zeroes
#NAMEWIDTH
4

% column in which the data is 
#COLUMNNUM
0

%---------------------------
% depth to which the output is evaluated 
% for comparison with flat white noise
#EVALUATION_DEPTH
8
