#BOTH_DIR
1

#USE_GAMMA
1

#OFFSET_MAX
10
#OFFSET_MIN
0


#DATA_TYPE_A
continuous
%continuous
%symbolic

#DATA_DIR_A
across
%up
%across

#PARTITION_A
0

#DATA_TYPE_B
continuous
%continuous
%symbolic

#DATA_DIR_B
across
%up
%across

#PARTITION_B
0


#EPS_MIN_
0.005

#EPS_MAX_
0.1

#EPS_STEP_
0.005

#ANN_TEST_LEN_
100000

#ANNIHILATION_ERR_THRESHOLD
0.05

#NUM_EACH
250

#REPORT_FILE_FUTURE
report.txt

#NORM_FILE
norm.txt

%Generated data length
#DATA_LENGTH
5000000

#EVALUATION_DEPTH
5

#OMEGA_VECTOR

#SYM_FRQ_DISPLAY_DEPTH_ 
16

#FUTURE_STEPS
3

#RECENT_PAST
3

#VERBOSE
1

#EXTREMELY_SHORT_
1
%juxtapose all streams in a multistream input
% before computing modeling error
% via annihilation

#DOT_CFG
dotII.cfg
  
%-------------------------
% parameters for computing omega_sync  
% parameters for computing omega_sync  
#MIN_DEV_SYNC_SEARCH_
0.001
#LOOP_COUNT_SYNC_SEARCH_
1
#SYN_PREF_LENGTH_
4

#COL_PRINT
1
#MAX_DEPTH_ENTROPY
150000

